* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

html {
    background: rgb(63, 94, 251);
    background: linear-gradient(90deg, rgba(63, 94, 251, 1) 0%, rgba(255, 103, 134, 1) 100%);
}

body {
    width: 100%;
    color: #fff;
}

#title {
    text-align: center;
    vertical-align: middle;
    position: absolute;
    padding: 30px;
    border-radius: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
}

#title h1 {
    font-size: 45px;
    background: -webkit-linear-gradient(#eee, #ff3d08);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#title i {
    color: #fff;
}

#user {
    font-size: 20px;
    width: 350px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 8px;
    border: none;
    margin-bottom: 30px;
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}

#btn {
    width: 100px;
    padding: 18px 15px 14px 15px;
    border-radius: 8px;
    border: none;
    background: #424242;
    color: #fff;
    cursor: pointer;
}

#back {
    right: 0;
    position: fixed;
    margin: 18px;
    margin-top: 30px;
}

#back a {
    width: 100px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 4px;
    border: none;
    margin-bottom: 10px;
    background: #424242;
    color: #fff;
    cursor: pointer;
}

.repo-item {
    border-radius: 10px;
    padding: 30px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #2e2e2e;
    overflow: auto;
    overflow-wrap: break-word;
    width: 40%;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    align-items: center;
}

.description {
    color: #fff;
}

.title {
    font-size: min(20px, 2.5vw);
    padding-bottom: 5px;
    color: #ffffff;
}

.bottom {
    position: relative;
}

.language,
.star,
.fork {
    font-size: 1.5vh;
    display: inline-block;
    margin-right: 20px;
    color: #fff;
}

.repo-item:hover {
    text-decoration: none;
    background-color: #3e3e3e;
    transition: ease-in-out 0.2s;
}

.repo-item:hover>div>div {
    color: #ffffff;
    transition: ease-in-out 0.2s;
}

a {
    text-decoration: none;
}

a:hover {
    color: #8a8a8a;
}

.output-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 100px;
}

.profile {
    flex: 1;
}

img {
    margin-top: 30px;
    width: max(200px, 10vw);
    border-radius: 50%;
}

.profile-info {
    flex: 3;
    margin-left: 20px;
}

.username h1 {
    margin-bottom: 10px;
}

.bio p {
    margin-bottom: 10px;
}

.link {
    margin-bottom: 10px;
}

.link a {
    color: #ffffff;
}

.link a:hover {
    color: rgb(196, 196, 255);
}

.info ul {
    list-style-type: none;
    padding: 0;
}

.info li {
    margin-right: 20px;
    display: inline-block;
}

.pagination {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.pagination button {
    background-color: #424242;
    color: #fff;
    border: none;
    padding: 15px 20px;
    margin: 0px 10px;
    cursor: pointer;
    border-radius: 10px;
}

.pagination button:hover {
    background-color: #4c4444;
}

#page-info {
    margin: 0 10px;
    font-size: 20px;
    font-weight: 600;
    color: #080808;
}

.loader {
    --d: 22px;
    width: 4px;
    height: 4px;
    display: none;
    position: absolute;
    border-radius: 50%;
    color: #25b09b;
    box-shadow: calc(1*var(--d)) calc(0*var(--d)) 0 0, calc(0.707*var(--d)) calc(0.707*var(--d)) 0 1px, calc(0*var(--d)) calc(1*var(--d)) 0 2px, calc(-0.707*var(--d)) calc(0.707*var(--d)) 0 3px, calc(-1*var(--d)) calc(0*var(--d)) 0 4px, calc(-0.707*var(--d)) calc(-0.707*var(--d))0 5px, calc(0*var(--d)) calc(-1*var(--d)) 0 6px;
    animation: spin 1s infinite steps(8);
    left: 50%;
    top: 60%;
}

@keyframes spin {
    100% {
        transform: rotate(1turn)
    }
}

#search-container {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* Adjusted to distribute space more evenly */
    text-align: center;
    gap: 1rem;
    background-color: #7c73e6;
    padding: 5px 0px;
    /* Adjusted padding for better spacing */
    margin: auto;
    border-radius: 5rem;
    /* Increased border-radius for a smoother look */
    margin-top: 2rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* Added box-shadow for a subtle lift */
}

#search-container img {
    margin-top: 5px;
    width: 24px;
    /* Slightly reduced image size for better proportion */
}

#search-container input {
    flex: 1;
    width: 88%;
    /* Expanded input to take remaining space */
    padding: 10px;
    /* Added padding for better input box appearance */
    color: #e0ffcd;
    background-color: #7c73e6;
    font-size: 1.4rem;
    border: none;
    border-radius: 10px;
    outline: none;
    transition: background-color 0.3s;
    /* Added transition for smoother hover effect */
}